@page "/qrcode"
@inject HttpClient Http

<div style="text-align: center;margin-top: 64px;">
    <img src="@QrcodeValue" style="width: 300px;height: 300px;" />
</div>
@code {
    string QrcodeValue = "";
    protected override Task OnInitializedAsync()
    {
        GetQrCode();
        return base.OnInitializedAsync();
    }
    public async Task GetQrCode()
    {
        QrcodeValue = await Http.GetStringAsync($"api/QRCode/");
        StateHasChanged();
    }
 }
